antlr4-python3-runtime==4.7.2
asgiref==3.7.2
Django==4.2.2
django-cors-headers==4.0.0
djangorestframework==3.14.0
gunicorn==20.1.0
latex2sympy2==1.9.1
mpmath==1.3.0
numpy==1.24.3
python-dotenv==1.0.0
pytz==2023.3
scipy==1.10.1
sqlparse==0.4.4
sympy==1.12
tzdata==2023.3
